<div class="app-portal-devicemanager" ng-init="init()">
  <div class="panel">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-8">
          <app-select options="searchOptions" selected-model="searchParam.field" value-only="true"></app-select>
          <input type="text" class="form-control search-field" ng-model="searchParam.value" />
          <button class="btn btn-info" ng-click="searchDevices(searchParam)">Search</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success pull-right" ng-click="addDevice()"><span class="fa fa-plus"></span> Add Thing</button>
        </div>
      </div>
    </div>
  </div>
  <table st-table="firmwares" class="table table-striped">
    <thead>
    <tr>
      <th><input type="checkbox" /></th>
      <th>_deviceID</th>
      <th>_vendorThingID</th>
      <th>Model</th>
      <th>Firmware Version</th>
      <th>_online</th>
      <th>_disabled</th>
      <th>_created</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="8" style="padding:0px;">
          <div ng-include="'app/components/Portal/AppManager/ApplicationEditor/DeviceManager/NewDeviceContent.template.html'"></div>
        </td>
      </tr>
      <tr ng-repeat-start="device in myDevices" ng-click="deviceEdit[device.getThingID()] = !deviceEdit[device.getThingID()]">
        <td><input type="checkbox" /></td>
        <td>{{device.getThingID()}}</td>
        <td>{{device.getVendorThingID()}}</td>
        <td>{{device._productionName}}</td>
        <td>{{device._firmwareVersion}}</td>
        <td>{{device._online}}</td>
        <td>{{device._disabled}}</td>
        <td>{{getTime(device.getCreated())}}</td>
      </tr>
      <tr ng-repeat-end>
        <td colspan="8" style="padding:0px;">
          <device-detail device="device" is-collapse="deviceEdit[device.getThingID()]"></device-detail>
        </td>
      </tr>
      <tr>
        <td colspan="8" class="load-more" ng-click="loadMore()">Load More</td>
      </tr>
    </tbody>
  </table>
</div>