<div class="app-portal-modelmanager-modelinfo" ng-init="init()">
  <uib-tabset>
      <uib-tab heading="Model Info">
        <div class="form-group">
          <label>Model Name</label>
          <input class="form-control" type="text" ng-model="modelInfo.modelName" />
        </div>
        <div class="form-group">
          <label>Firmware Namespace</label>
          <app-select options="firmwareNamespaces" text="_name" selected-model="modelInfo.selectedNamespace"></app-select>
        </div>
        <div class="form-group">
          <button class="btn btn-success" ng-click="updateModel(modelInfo)">Update</button>
        </div>
        <div class="form-group">
          <label>Model Image</label>
          <input type="file" id="modelImage" />
        </div>
        <div class="form-group">
          <img ng-src="{{modelInfo.imageUrl || 'images/bulb.jpeg' }}" width="200px">
        </div>
      </uib-tab>
      <uib-tab heading="Devices">
        
      </uib-tab>
      <uib-tab heading="Firmwares">
        <table st-table="firmwares" class="table table-striped">
          <thead>
          <tr>
            <th>Firmware Name</th>
            <th>Created Date</th>
            <th>Modified Date</th>
            <th width="120px" align="center">Operation</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="firmware in firmwares">
            <td>{{firmware.getName()}}</td>
            <td>{{getTime(firmware._created)}}</td>
            <td>{{getTime(firmware._modified)}}</td>
            <td>
              <span class="fa fa-plus-circle" ng-if="!firmware._selected" ng-click="addFirmware(firmware)"></span>
              <span class="fa fa-trash" ng-if="firmware._selected" ng-click="removeFirmware(firmware)"></span>
            </td>
          </tr>
          </tbody>
        </table>
      </uib-tab>
      <uib-tab heading="Industrial Schema">
        
      </uib-tab>
    </uib-tabset>
</div>