.app-portal-modelmanager-modelinfo .schemas {
  border: solid 1px #ccc; }
  .app-portal-modelmanager-modelinfo .schemas .detail-content {
    background: #eee; }
    .app-portal-modelmanager-modelinfo .schemas .detail-content .sub-table {
      border: solid 1px #ccc; }
