<div class="panel-bottom pull-left col-md-9">
    <div class="text-danger" ng-if="status.isEmpty">
        A login name, email or phone must be provided
    </div>
    <div class="text-danger" ng-if="status.passwordError">
        Password is too short (must be at least 4 characters).
    </div>
    <div class="text-danger" ng-if="status.loginError">
        Login name must be between three and 64 characters
    </div>
    <div class="text-danger" ng-if="status.phoneError">
        Phone numbers must begin with a '+' and be at least 10 digits long.
    </div>
    <div class="text-danger" ng-if="status.emailError">
        Invalid email address.
    </div>
</div>
