<div class="app-portal-usermanager" ng-init="init()">
  <div class="panel">
    <div class="panel-heading clearfix">
      <div class="col-sm-1"><button type="button" class="btn btn-default"><span class="fa fa-refresh"></span></button></div>
      <div class="col-sm-2">
        <button class="btn btn-primary" ng-click="isExpanded = !0"><span class="fa fa-user-plus"></span> Add user</button>
      </div>
    </div>
    <div class="panel-body" uib-collapse="!isExpanded">
      <table st-table="firmwares" class="table table-striped">
        <thead>
          <tr>
            <th>Login</th>
            <th>Password</th>
            <th>Display Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" ng-model="newUser.loginName"></td>
            <td><input type="password" ng-model="newUser.password"></td>
            <td><input type="text" ng-model="newUser.displayName"></td>
            <td><input type="text" ng-model="newUser.emailAddress"></td>
            <td><input type="text" ng-model="newUser.phoneNumber"></td>
            <td><input type="text" ng-model="newUser.country"></td>
          </tr>
        </tbody>
      </table>
      <div class="clearfix pull-right">
        <button class="btn btn-danger" ng-click="cancelAddUser(newUser)"><span class="fa fa-remove"></span> Cancel</button>
        <button class="btn btn-success" ng-click="addUser(newUser)"><span class="fa fa-user-plus"></span> Save</button>
      </div>
    </div>
  </div>
	<table st-table="firmwares" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Login</th>
        <th>Password</th>
        <th>Display Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Country</th>
        <th>Status</th>
        <th>Created</th>
        <th>Modified</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="user in users track by user._info.userID" ng-click="toggleEdit(user)">
        <td><input type="checkbox" ng-model="user._onEdit" ng-click="toggleEdit(user)"/></td>
        <td>{{::user._info.loginName}}</td>
        <td>********</td>
        <td>{{::user._info.displayName}}</td>
        <td>{{::user._info.emailAddress}}</td>
        <td>{{::user._info.phoneNumber}}</td>
        <td>{{::user._info.country}}</td>
        <td>{{::user._info._disabled?'Suspended':'Active'}}</td>
        <td>{{::user._info.createdAt|dateOnly}}</td>
        <td>{{::user._info.modifiedAt|dateOnly}}</td>
      </tr>
      <tr ng-repeat-end>
        <td colspan="10" style="padding:0px;">
          <div class="detail-content" uib-collapse="!user._onEdit">
            <uib-tabset>
              <uib-tab heading="Account Details">
                <div class="row">
                  <form action="" class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="user_userID" class="col-sm-2 control-label"><span class="i18n i18n-en">User ID</span></label>
                      <div class="col-sm-5"><input class="form-control" id="user_userID" readonly value="{{::user._field.userID}}"></div>
                    </div>
                    <div class="form-group">
                      <label for="user_status" class="col-sm-2 control-label"><span class="i18n i18n-en">Status</span></label>
                      <div class="col-sm-5"><input class="form-control" id="user_status" readonly value="{{::user._field._disabled?'Suspended':'Active'}}"></div>
                    </div>
                    <div class="form-group">
                      <label for="user_loginName" class="col-sm-2 control-label"><span class="i18n i18n-en">Login Name</span></label>
                      <div class="col-sm-5"><input class="form-control" id="user_loginName" ng-model="user._field.loginName"></div>
                    </div>
                    <div class="form-group">
                      <label for="user_displayName" class="col-sm-2 control-label"><span class="i18n i18n-en">Display Name</span></label>
                      <div class="col-sm-5"><input class="form-control" id="user_displayName" ng-model="user._field.displayName"></div>
                    </div>
                    <div class="form-group">
                      <label for="user_emailAddress" class="col-sm-2 control-label"><span class="i18n i18n-en">Email</span></label>
                      <div class="col-sm-5"> <input class="form-control" id="user_emailAddress" ng-model="user._field.emailAddress"></div>
                      <div class="col-sm-2 hide"> <label class="control-label success"><span class="i18n i18n-en">Verified</span></label></div>
                    </div>
                    <div class="form-group">
                      <label for="user_phoneNumber" class="col-sm-2 control-label"><span class="i18n i18n-en">Phone</span></label>
                      <div class="col-sm-5"> <input class="form-control" id="user_phoneNumber" ng-model="user._field.phoneNumber"></div>
                      <div class="col-sm-2 hide"> <label class="control-label success"><span class="i18n i18n-en">Verified</span></label></div>
                    </div>
                    <div class="form-group">
                      <label for="user_country" class="col-sm-2 control-label"><span class="i18n i18n-en">Country</span></label>
                      <div class="col-sm-5">
                        <select class="form-control input" id="users-user-add-country" ng-model="user._field.country" ng-options="c.code as c.name for c in countryList">
                          <option value="" disabled>-- Select a country --</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>
              </uib-tab>
              <uib-tab heading="Attribute">
                
              </uib-tab>
              <uib-tab heading="Groups" select="getCustomFields(device)">
                
              </uib-tab>
            </uib-tabset>
            <div class="tab-pane-footer clearfix">
              <div class="clearfix pull-right">
                <button class="btn btn-danger" ng-click="deleteDevice(device)"><span class="fa fa-remove"></span>Delete</button>
                <button class="btn btn-success" ng-click="updateDevice(device)"><span class="fa fa-cloud-upload"></span>Update</button>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>