<div class="app-portal-usermanager" ng-init="init()">
  <div ng-switch on="message.status">
    <div class="alert alert-success h4" role="alert" ng-switch-when="1">
      Created user <strong>{{message.loginName}}</strong> successfully.
    </div>
    <div class="alert alert-success h4" role="alert" ng-switch-when="2">
      User <strong>{{message.loginName}}</strong> updated successfully.
    </div>
    <div class="alert alert-success h4" role="alert" ng-switch-when="3">
      User <strong>{{message.loginName}}</strong> suspended
    </div>
    <div class="alert alert-success h4" role="alert" ng-switch-when="4">
      User <strong>{{message.loginName}}</strong> activated
    </div>
    <div class="alert alert-success h4" role="alert" ng-switch-when="5">
      Password reset email sent for user <strong>{{message.loginName}}</strong> .
    </div>
    <div class="alert alert-success h4" role="alert" ng-switch-when="6">
      Password reset SMS sent for user <strong>{{message.loginName}}</strong> .
    </div>
    <div class="alert alert-success h4" role="alert" ng-switch-when="7">
      User <strong>{{message.loginName}}</strong> deleted.
    </div>
    <div class="alert alert-warning h4" role="alert" ng-switch-when="8">
      <span>Are you sure you want to delete this user <strong>{{message.loginName}}</strong>?</span>
      <button class="btn btn-info" ng-click="cancelDelete()">
        <span class="fa fa-remove"></span> Cancel
      </button>
      <button class="btn btn-danger" ng-click="deleteUser()">
        <span class="fa fa-trash-o"></span> Delete
      </button>
    </div>
    <div class="alert alert-warning h4" role="alert" ng-switch-when="9">
      User <strong>{{message.loginName}}</strong> has been suspended.
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading clearfix">
      <button type="button" class="btn btn-default" ng-click="init()">
        <span class="fa fa-refresh"></span>
      </button>
      <button class="btn btn-primary" ng-click="expandAddUser()">
        <span class="fa fa-user-plus"></span> Add user
      </button>
    </div>
    <div class="panel-body" uib-collapse="!isExpanded">
      <form name="newUserForm" action="" class="form-inline clearfix" role="form">
        <table class="table table-striped">
          <tr>
            <td>
              <div class="form-group">
                <label class="sr-only" for="new_loginName">Login</label>
                <input type="text" class="form-control" id="new_loginName" placeholder="Login name" ng-model="newUser.loginName" />
              </div>
            </td>
            <td>
              <div class="form-group">
                <label class="sr-only" for="new_password">Password</label>
                <input type="password" class="form-control" id="new_password" placeholder="Password" ng-model="newUser.password" />
              </div>
            </td>
            <td>
              <div class="form-group">
                <label class="sr-only" for="new_displayName">Display name</label>
                <input type="text" class="form-control" id="new_displayName" placeholder="Display name" ng-model="newUser.displayName" />
              </div>
            </td>
            <td>
              <div class="form-group">
                <label class="sr-only" for="new_emailAddress">Email</label>
                <input type="text" class="form-control" id="new_emailAddress" placeholder="Email" ng-model="newUser.emailAddress" />
              </div>
            </td>
            <td>
              <div class="form-group">
                <label class="sr-only" for="new_phoneNumber">Phone</label>
                <input type="text" class="form-control" id="new_phoneNumber" placeholder="Phone" ng-model="newUser.phoneNumber" />
              </div>
            </td>
            <td>
              <div class="form-group">
                <label class="sr-only" for="new_country">Country</label>
                <select class="form-control sm" id="new_country" ng-model="newUser.country" ng-options="c.code as c.name for c in countryList">
                  <option value="" disabled>Select a country</option>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <div validate-message status="newUser._status"></div>
            </td>
            <td>
              <div class="panel-bottom pull-left">
                <button class="btn btn-danger" ng-click="cancelAddUser(newUser)">
                  <span class="fa fa-remove"></span> Cancel
                </button>
                <button class="btn btn-success" ng-click="addUser(newUser)">
                  <span class="fa fa-user-plus"></span> Save
                </button>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <table st-table="firmwares" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Login</th>
        <th>Password</th>
        <th>Display Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Country</th>
        <th>Status</th>
        <th>Created</th>
        <th>Modified</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="user in users track by user._info.userID" ng-click="toggleEdit(user)">
        <td>
          <input type="checkbox" ng-model="user._onEdit" ng-click="toggleEdit(user)" />
        </td>
        <td>{{user._info.loginName}}</td>
        <td>********</td>
        <td>{{user._info.displayName}}</td>
        <td>{{user._info.emailAddress}}</td>
        <td>{{user._info.phoneNumber}}</td>
        <td>{{user._info.country|country}}</td>
        <td>{{user._info._disabled?'Suspended':'Active'}}</td>
        <td>{{user._info.createdAt|dateOnly}}</td>
        <td>{{user._info.modifiedAt|dateOnly}}</td>
      </tr>
      <tr ng-repeat-end>
        <td colspan="10" style="padding:0px;">
          <div class="detail-content" uib-collapse="!user._onEdit">
            <uib-tabset>
              <uib-tab heading="Account Details">
                <div class="row">
                  <form action="" class="form-horizontal" role="form">
                    <div class="form-group">
                      <label class="col-sm-2 control-label">User ID</label>
                      <div class="col-sm-5">
                        <input class="form-control" readonly value="{{::user._field.userID}}" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Status</label>
                      <div class="col-sm-5">
                        <input class="form-control" readonly value="{{user._field._disabled?'Suspended':'Active'}}" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Login Name</label>
                      <div class="col-sm-5">
                        <input class="form-control" ng-model="user._field.loginName" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Display Name</label>
                      <div class="col-sm-5">
                        <input class="form-control" ng-model="user._field.displayName" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Email</label>
                      <div class="col-sm-5">
                        <input class="form-control" ng-model="user._field.emailAddress" />
                      </div>
                      <div class="col-sm-2 hide">
                        <label class="control-label success">Verified</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Phone</label>
                      <div class="col-sm-5">
                        <input class="form-control" ng-model="user._field.phoneNumber" />
                      </div>
                      <div class="col-sm-2 hide">
                        <label class="control-label success">Verified</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Country</label>
                      <div class="col-sm-5">
                        <select class="form-control" ng-model="user._field.country" ng-options="c.code as c.name for c in countryList">
                          <option value="" disabled>Select a country</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="row">
                  <div class="panel-bottom pull-left col-md-1"></div>
                  <div validate-message status="user._status"></div>
                </div>
              </uib-tab>
              <uib-tab heading="Attribute">
                <div ng-jsoneditor ng-model="user._field.customAttributes" options="{'mode':'code'}" style="height:300px; width:100%;"></div>
              </uib-tab>
              <uib-tab heading="Groups" select="getGroupData(user)">
                <div class="clearfix">
                  <div class="col-sm-6">
                    <h4>Owner</h4>
                    <span ng-if="user._field.group.owner.length<1">Not an owner of any groups.</span>
                    <ul class="list-group">
                      <li class="list-group-item" ng-repeat="r in user._field.group.owner track by groupID">{{r.name}}</li>
                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <h4>Member</h4>
                    <span ng-if="user._field.group.member.length<1">Not a member of any groups.</span>
                    <ul class="list-group">
                      <li class="list-group-item" ng-repeat="r in user._field.group.member track by groupID">{{r.name}}</li>
                    </ul>
                  </div>
                </div>
              </uib-tab>
            </uib-tabset>
            <div class="tab-pane-footer clearfix">
              <div class="clearfix pull-right">
                <button class="btn btn-info" ng-click="toggleEdit(user)">
                  <span class="fa fa-remove"></span> Cancel
                </button>
                <button class="btn btn-primary" ng-click="resetUserPassword(user, 'EMAIL')">
                  <span class="fa fa-envelope"></span> Reset Password (Email)
                </button>
                <button class="btn btn-primary" ng-click="resetUserPassword(user, 'SMS')">
                  <span class="fa fa-mobile"></span> Reset Password (Sms)
                </button>
                <button class="btn btn-warning" ng-click="toggleUserStatus(user)">
                  <span class="fa fa-ban"></span> {{user._field._disabled?'Activate':'Suspend'}}
                </button>
                <button class="btn btn-danger" ng-click="confirmDeleteUser(user, $index)">
                  <span class="fa fa-trash-o"></span> Delete
                </button>
                <button class="btn btn-success" ng-click="updateUser(user, $index)">
                  <span class="fa fa-cloud-upload"></span> Update
                </button>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr ng-if="query._paginationKey">
        <td colspan="10" class="load-more" ng-click="loadMore(query)">Load more users</td>
      </tr>
    </tbody>
  </table>
</div>
