<div class="device-board panel" ng-init="init()">
  <div class="panel-heading">
    {{tag.getName()}}
    <div class="pull-right">
      <span class="fa fa-edit" ng-click="editTag()"></span>
      <span class="fa fa-refresh" ng-click="refreshThings()"></span>
    </div>
  </div>
  <div class="panel-body">
    <div class="panel-body-container">
      <div class="tag-dashboard">
        <table class="table">
          <thead>
            <th>_vendorThingID</th>
            <th ng-repeat="field in tag.getFields()">{{field.displayName}}</th>
          </thead>
          <tbody>
            <tr ng-repeat="device in tag.getThings()">
              <td>{{device.getVendorThingID()}}</td>
              <td ng-repeat="field in tag.getFields()">{{device[field.fieldName] || device['fields'][field.fieldName]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <span class="hidden tagID">{{tag.getUUID()}}</span>
</div>