<div class="app-applicationinfo">
  <div class="row">
    <div class="col-lg-8">
      <div class="panel">
        <div class="panel-heading">Application Connection Information</div>
        <div class="panel-body">
          <div class="form-group">
            <label>Application Name</label>
            <input class="form-control" ng-model="myApp._appName" ng-disabled="true" />
          </div>
          <div class="form-group">
            <label>Application ID</label>
            <input class="form-control" ng-model="myApp._appID" ng-disabled="true" />
          </div>
          <div class="form-group">
            <label>Application Key</label>
            <input class="form-control" ng-model="myApp._appKey" ng-disabled="true" />
          </div>
          <div class="form-group">
            <label>Client ID</label>
            <input class="form-control" ng-model="myApp._clientID" ng-disabled="true" />
          </div>
          <div class="form-group">
            <label>Client Secret</label>
            <input class="form-control" ng-model="myApp._clientSecret" ng-disabled="true" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel">
        <div class="panel-heading">Application Basic Information</div>
        <div class="panel-body">
          <div class="form-group">
            <label>Server</label>
            <input class="form-control" ng-model="myApp._site" ng-disabled="true" />
          </div>
          <div class="form-group">
            <label>Server</label>
            <input class="form-control" ng-model="myApp._platforms" ng-disabled="true" />
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>