.app-portal .tab-content {
  padding: 20px 15px;
  background: #fff;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc; }

.app-portal .app-appmanager-applicationeditor div[ui-view].ng-enter {
  animation: zoomIn 0.2s both ease-in;
  z-index: 8888;
  delay: 0.2s; }

.app-portal .app-appmanager-applicationeditor div[ui-view].ng-leave {
  animation: zoomOut 0.2s both ease-in;
  z-index: 9999; }
